<% include ../partials/header %>
<div class = "container">
    <div class = "row text-center">
        <h1>Edit '<%= campground.name %>' campground</h1>
        <div style= "width: 30%; margin:30px auto;">
            <form action= "/campgrounds/<%= campground._id %>?_method=PUT" method = "POST">
                <input class = "form-control form-group" type = "text" name = "campground[name]" value = "<%= campground.name %>" required>
                <input class = "form-control form-group" type = "number" name = "campground[price]" value = "<%= campground.price %>" min = "0.01" step = "0.01" required>
                <input class = "form-control form-group" type = "text" name = "campground[image]" value = "<%= campground.image %>" required>
                <textarea rows = "15" class = "form-control form-group" name = "campground[description]" required><%= campground.description %></textarea>
                <div class = "form-group"><button class = "btn btn-lg btn-primary btn-block">Submit</button></div>
            </form>
        </div>
        <a href = "/campgrounds">Back to Camp Ground list!</a>
    </div>
</div>
<% include ../partials/footer %>